<!--
  @component: flex-column
  @category: layout
  @tags: flex, column, vertical
  @description: Vertical flex container
  @thumbnail: /thumbnails/flex-column.png
  @version: 1.0
-->
<div class="funnel-flex-column"
     data-component="flex-column"
     data-component-category="layout"
     data-element-type="flex-column"
     data-gap="16">

  <!-- Drop child components here -->

</div>

<style>
  .funnel-flex-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
    width: 100%;
  }
</style>
